# ------------------------
# pk-resizer configuration
# ------------------------

# each section makes a new resized image
# the title of the section doesn't matter

# quality: 		jpg quality of resultant image (100 is default)
# width: 		scale image by width (maintain aspect ratio)
# height: 		scale image by height (maintain aspect ratio)
#	(note- if BOTH width and height are specified, image will stretch)
# subfolder: 	the subfolder to place the images (relative to image's original directory)

[FULL]
quality				= 50
width				= 200
height 				= 1500
subfolder 			= test

[THUMBS]
quality 			= 90
width 				= 200
subfolder 			= test/thumbs

[TINY]
quality 			= 50
width 				= 100
subfolder 			= test/tiny